body {
    background-color: green;
    margin: 0;
    padding: 0;
}

.game {
    background-color: #c6c6c6;
    margin: 20px auto;
    width: fit-content;
    border-width: 5px;
    border-style: outset;
    border-color: #fff;
}

.controls {
    height: 75px;
    border-width: 5px;
    border-style: inset;
    border-color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.digits {
    color: red;
    background-color: black;
    border-width: 1px;
    border-style: inset;
    border-color: #fff;
    margin: 10px;
    font-family: monospace;
    font-size: 3em;
    width: 71px;
    text-align: end;
}

.face {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: outset;
    border-color: #fff;
    font-size: 1.85em;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c6c6c6;
    margin: 10px;
    border-width: 5px;
    border-style: inset;
    border-color: #fff;
}

.grid div {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: outset;
    border-color: #fff;
}

.grid div.checked {
    border: none;
    height: 38px;
    width: 38px;
    border: 1px solid #808080;
}

.bomb.checked {
    background-color: red;
}